# check leavetime

In [1]:
import pandas as pd
import numpy as py

In [3]:
leaveTime=pd.read_csv('../initial_data/Nov_LeaveTimes.csv',sep = ';')

In [4]:
leaveTime

,DayOfService,TripID,ProgrNumber,StopPointID,PlannedTime_Arr,ActualTime_Arr,ActualTime_Dep,VehicleID
0,2018-11-01,8064443,1,6318,29160,29167,29167,2534808
1,2018-11-01,8064443,2,6319,29193,29192,29202,2534808
2,2018-11-01,8064443,3,7246,29233,29236,29247,2534808
3,2018-11-01,8064443,4,6320,29318,29335,29353,2534808
4,2018-11-01,8064443,5,4594,29419,29440,29462,2534808
...,...,...,...,...,...,...,...,...
9733159,2018-11-30,8148957,47,4912,68138,68195,68205,1932358
9733160,2018-11-30,8148957,48,4913,68185,68233,68233,1932358
9733161,2018-11-30,8148957,49,4914,68218,68255,68264,1932358
9733162,2018-11-30,8148957,50,4915,68258,68313,68326,1932358
9733163,2018-11-30,8148957,51,4957,68324,68369,68369,1932358

In [5]:
leaveTime.columns=['DayOfService','TripID','ProgrNumber','StopPointID','PlannedTime_Arr','ActualTime_Arr','ActualTime_Dep','VehicleID']
leaveTime.head(5)

,DayOfService,TripID,ProgrNumber,StopPointID,PlannedTime_Arr,ActualTime_Arr,ActualTime_Dep,VehicleID
0,2018-11-01,8064443,1,6318,29160,29167,29167,2534808
1,2018-11-01,8064443,2,6319,29193,29192,29202,2534808
2,2018-11-01,8064443,3,7246,29233,29236,29247,2534808
3,2018-11-01,8064443,4,6320,29318,29335,29353,2534808
4,2018-11-01,8064443,5,4594,29419,29440,29462,2534808

# drop legacy stops

In [6]:
legacy_stops =[124,
 128,
 132,
 139,
 140,
 157,
 158,
 159,
 173,
 174,
 313,
 347,
 349,
 401,
 403,
 430,
 431,
 432,
 433,
 434,
 437,
 459,
 460,
 462,
 464,
 465,
 466,
 467,
 468,
 486,
 661,
 662,
 663,
 765,
 788,
 805,
 806,
 815,
 816,
 863,
 864,
 865,
 866,
 867,
 869,
 870,
 873,
 874,
 935,
 936,
 951,
 952,
 953,
 956,
 957,
 958,
 959,
 960,
 961,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 973,
 974,
 975,
 976,
 979,
 988,
 989,
 990,
 991,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1006,
 1007,
 1008,
 1009,
 1010,
 1012,
 1039,
 1040,
 1041,
 1050,
 1131,
 1132,
 1133,
 1134,
 1138,
 1139,
 1252,
 1253,
 1391,
 1392,
 1394,
 1395,
 1400,
 1421,
 1513,
 1530,
 1546,
 1591,
 1601,
 1602,
 1603,
 1645,
 1650,
 1651,
 1652,
 1766,
 1820,
 1824,
 1825,
 1830,
 1831,
 1856,
 1857,
 1880,
 1881,
 2027,
 2028,
 2029,
 2030,
 2037,
 2038,
 2047,
 2048,
 2049,
 2050,
 2052,
 2071,
 2072,
 2073,
 2074,
 2075,
 2076,
 2079,
 2080,
 2082,
 2083,
 2110,
 2111,
 2112,
 2113,
 2116,
 2117,
 2130,
 2173,
 2174,
 2177,
 2178,
 2199,
 2212,
 2226,
 2228,
 2237,
 2274,
 2290,
 2294,
 2345,
 2363,
 2364,
 2449,
 2451,
 2464,
 2520,
 2521,
 2533,
 2534,
 2544,
 2545,
 2576,
 2618,
 2619,
 2620,
 2638,
 2753,
 2762,
 2763,
 2780,
 2781,
 2782,
 2783,
 2784,
 2785,
 2786,
 2787,
 2788,
 2789,
 2790,
 2791,
 2793,
 2794,
 2796,
 2797,
 2798,
 2799,
 2800,
 2801,
 2806,
 2807,
 2808,
 2872,
 2873,
 2874,
 2877,
 2878,
 2879,
 2880,
 2882,
 2883,
 2885,
 2886,
 2887,
 2934,
 2960,
 3046,
 3058,
 3078,
 3083,
 3087,
 3091,
 3092,
 3093,
 3094,
 3095,
 3096,
 3097,
 3098,
 3099,
 3100,
 3101,
 3102,
 3103,
 3105,
 3106,
 3107,
 3108,
 3111,
 3165,
 3166,
 3167,
 3168,
 3169,
 3171,
 3173,
 3174,
 3175,
 3176,
 3177,
 3178,
 3179,
 3182,
 3183,
 3187,
 3188,
 3189,
 3190,
 3191,
 3192,
 3193,
 3194,
 3195,
 3198,
 3199,
 3200,
 3201,
 3241,
 3242,
 3248,
 3249,
 3254,
 3255,
 3256,
 3260,
 3261,
 3262,
 3265,
 3266,
 3267,
 3268,
 3269,
 3270,
 3271,
 3272,
 3273,
 3274,
 3275,
 3276,
 3277,
 3278,
 3279,
 3285,
 3289,
 3290,
 3291,
 3292,
 3293,
 3294,
 3295,
 3296,
 3297,
 3298,
 3306,
 3307,
 3309,
 3312,
 3343,
 3346,
 3353,
 3354,
 3357,
 3358,
 3360,
 3361,
 3362,
 3425,
 3429,
 3435,
 3442,
 3534,
 3535,
 3536,
 3543,
 3545,
 3546,
 3547,
 3548,
 3551,
 3560,
 3561,
 3586,
 3739,
 4095,
 4097,
 4103,
 4104,
 4105,
 4106,
 4108,
 4109,
 4110,
 4111,
 4112,
 4113,
 4118,
 4137,
 4138,
 4139,
 4140,
 4142,
 4143,
 4144,
 4145,
 4146,
 4147,
 4167,
 4169,
 4176,
 4183,
 4184,
 4185,
 4186,
 4187,
 4188,
 4189,
 4190,
 4192,
 4194,
 4196,
 4199,
 4232,
 4234,
 4235,
 4236,
 4237,
 4238,
 4239,
 4240,
 4241,
 4242,
 4243,
 4244,
 4289,
 4290,
 4291,
 4292,
 4293,
 4294,
 4313,
 4326,
 4327,
 4332,
 4337,
 4341,
 4357,
 4359,
 4360,
 4361,
 4365,
 4366,
 4367,
 4368,
 4375,
 4381,
 4391,
 4393,
 4395,
 4396,
 4414,
 4417,
 4419,
 4420,
 4421,
 4422,
 4457,
 4473,
 4474,
 4503,
 4527,
 4529,
 4533,
 4582,
 4584,
 4586,
 4587,
 4597,
 4637,
 4650,
 4651,
 4652,
 4653,
 4654,
 4655,
 4656,
 4657,
 4658,
 4659,
 4660,
 4661,
 4678,
 4686,
 4687,
 4771,
 4772,
 4773,
 4781,
 4784,
 4785,
 4790,
 4820,
 4826,
 4830,
 4844,
 4849,
 4983,
 5006,
 5007,
 5009,
 5011,
 5033,
 5034,
 5055,
 5088,
 5089,
 5105,
 5106,
 5138,
 5141,
 5167,
 5168,
 5190,
 6009,
 6019,
 6039,
 6073,
 6082,
 6103,
 6126,
 6127,
 6128,
 6133,
 6134,
 6138,
 6139,
 6179,
 6180,
 6196,
 6197,
 6198,
 6199,
 6200,
 6201,
 6207,
 6274,
 6319,
 6333,
 7026,
 7114,
 7116,
 7129,
 7155,
 7164,
 7165,
 7169,
 7207,
 7214,
 7248,
 7250,
 7252,
 7254,
 7255,
 7256,
 7257,
 7258,
 7259,
 7260,
 7261,
 7262,
 7263,
 7264,
 7265,
 7266,
 7268,
 7269,
 7270,
 7278,
 7279,
 7280,
 7281,
 7282,
 7283,
 7284,
 7286,
 7287,
 7288,
 7289,
 7295,
 7297,
 7298,
 7323,
 7324,
 7351,
 7354,
 7360,
 7369,
 7372,
 7373,
 7393,
 7394,
 7405,
 7447,
 7448,
 7457,
 7479,
 7484,
 7485,
 7486,
 7490,
 7491,
 7500,
 7501,
 7502,
 7503,
 7513,
 7522,
 7529,
 7537,
 7539,
 7540,
 7544,
 7547,
 7553,
 7554,
 7558,
 7568,
 7570,
 7575,
 7576,
 7589,
 7592,
 7593,
 7594,
 7599,
 7615,
 7617,
 7620,
 7621,
 7634,
 7635,
 7636,
 7637,
 7638,
 7647,
 7648,
 7651,
 7652,
 7653,
 7655,
 7658,
 7659,
 7662,
 7663,
 7666,
 7667]

In [7]:
leaveTime = leaveTime.loc[~leaveTime['StopPointID'].isin(legacy_stops)]

In [8]:
rows = leaveTime.shape[0]
cols = leaveTime.shape[1]
print()
print("After removing legacy stops, the dataframe contains", rows, "rows and", cols, "columns.")
print()

After removing legacy stops, the dataframe contains 9401320 rows and 8 columns.

In [9]:
len(leaveTime['StopPointID'].unique())

4125

In [10]:
leaveTime.to_csv("../clean_data/leavetime_NOV.csv")